<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joxxxx.footscapes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterUI" />
        <activity android:name=".EmailVerifyUI" />
        <activity android:name=".CodeVerifyUI" />
        <activity android:name=".SetPasswordUI" />
        <activity android:name=".SelfAwarenessCholericUI" />
        <activity android:name=".SelfAwarenessSanguineUI" />
        <activity android:name=".SelfAwarenessMelancholicUI" />
        <activity android:name=".SelfAwarenessPhlegmaticUI" />
        <activity android:name=".HomePretestUI" />
        <activity android:name=".SelfAwarenessResultsUI" />
        <activity android:name=".HomeChecklistUI" />
        <activity android:name=".HomeBucketListUI" />
        <activity android:name=".MenuUI" />
        <activity android:name=".HomeAdventureStartsUI" />
        <activity android:name=".UserProfileUI" />
        <activity android:name=".MenuMyTravelJournalUI" />
        <activity android:name=".MenuUpcoming"></activity>
    </application>

</manifest>