<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kathrinefaye.bucketlisten">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".PreTestResult" />
        <activity android:name=".DesinationSuggestions" />
        <activity android:name=".AdventureStarts" />
        <activity android:name=".HomeBucketlist" />
        <activity android:name=".HomeChecklist" />
        <activity android:name=".Pre_test" />
        <activity
            android:name=".sample"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sample"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>